.option:hover {
    background: rgba(56, 147, 35, 0.1);
  }

  nav.navbar {
    height: 80px;
    /* left: 300px; */
    
  }

  .nav-item {

  }
  
  .nav-link {
    display: flex; /* Asegura que el contenido del enlace también use Flexbox */
    align-items: center; /* Centra verticalmente el texto dentro del enlace */
    justify-content: center; /* Centra horizontalmente el texto dentro del enlace */
    text-align: center; /* Asegura que el texto esté centrado */
    width: 100%; /* Asegura que el enlace ocupe todo el espacio disponible */
    height: 100%; /* Asegura que el enlace ocupe toda la altura del contenedor */
  }