@if (datatableInputs.searchPerformed === true) {
    @if (datatableInputs.paginacion.content.length > 0) {
      <div class="card shadow datatable">
        <div class="card-body">
          <div
            class="table-responsive table mt-2"
            id="dataTable"
            role="grid"
            aria-describedby="dataTable_info"
          >
            <table class="table my-0 table-striped" id="dataTable">
              @if (datatableInputs.titulo !== "") {
                <caption class="table-title">
                  {{
                    datatableInputs.titulo
                  }}
                </caption>
              }
  
              <thead>
                <tr>
                  @for (tableHeader of datatableInputs.tableHeaders; track $index) {
                    <th>{{ tableHeader }}</th>
                  }
                  <!-- @if (datatableInputs.acciones.length > 0) {
                    <th>Acciones</th>
                  } -->
                </tr>
              </thead>
  
              <tbody>
                @for (
                  data of datatableInputs.paginacion.content;
                  track data[datatableInputs.dataAttributes[0].name]
                ) {
                  <tr>
                    @for (attribute of datatableInputs.dataAttributes; track $index) {
                      @if (enumTranslationService.isEnumType(attribute.type)) {
                        <td>
                          {{
                            enumTranslationService.getEnumValueByKey(
                              attribute.type,
                              data[attribute.name]
                            )
                          }}
                        </td>
                      } @else {
                        <td>{{ data[attribute.name] }}</td>
                      }
                    }
                    <!-- <td>
                      @for (accion of datatableInputs.acciones; track $index) {
                        <a
                          (click)="ejecutarAccion(accion, data)"
                          (keyup.enter)="ejecutarAccion(accion, data)"
                          (keyup.space)="ejecutarAccion(accion, data)"
                          tabindex="0"
                          role="button"
                          style="margin-right: 5px"
                        >
                          <span class="material-symbols-outlined dataTableActionBtn">{{
                            accion.icono
                          }}</span>
                        </a>
                      }
                    </td> -->
                  </tr>
                }
              </tbody>
            </table>
          </div>
  
          @if (datatableInputs.quieresPaginar) {
            <div class="row">
              <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                  {{ calcularTextoVisualizacion() }}
                </p>
              </div>
              <div class="col-md-6">
                <nav
                  class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers"
                >
                  <div class="d-flex aling-items-center align-self-center justify-content-end">
                    <p class="me-2 listar">Mostrar</p>
                    <select
                      class="form-select form-select-sm w-auto"
                      style="margin-bottom: 10px; margin-left: 10px; margin-right: 10px"
                      (change)="onPageSizeChange($event)"
                    >
                      @for (pag of paginas; track $index) {
                        <option [value]="pag">{{ pag }}</option>
                      }
                    </select>
                  </div>
                  <ul class="pagination">
                    <!-- Atras -->
                    @if (datatableInputs.paginacion.first) {
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous" tabindex="-1" aria-disabled="true">
                          <span aria-hidden="true">«</span>
                        </a>
                      </li>
                    } @else {
                      <li class="page-item">
                        <a
                          class="page-link"
                          aria-label="Previous"
                          (click)="movePage('atras')"
                          (keyup.enter)="movePage('atras')"
                          (keyup.space)="movePage('atras')"
                          tabindex="0"
                        >
                          <span aria-hidden="true">«</span>
                        </a>
                      </li>
                    }
  
                    <!-- Paginas -->
                    @for (pageNumber of getPageNumbers(); track $index) {
                      <li
                        class="page-item pagina"
                        [class.active]="pageNumber === datatableInputs.paginacion.number + 1"
                      >
                        <a
                          class="page-link"
                          (click)="changePage(pageNumber)"
                          (keyup.enter)="changePage(pageNumber)"
                          (keyup.space)="changePage(pageNumber)"
                          tabindex="0"
                        >
                          {{ pageNumber }}
                        </a>
                      </li>
                    }
  
                    <!-- Adelante -->
                    @if (datatableInputs.paginacion.last) {
                      <li class="page-item disabled">
                        <a class="page-link" aria-label="Next" tabindex="-1" aria-disabled="true">
                          <span aria-hidden="true">»</span>
                        </a>
                      </li>
                    } @else {
                      <li class="page-item">
                        <a
                          class="page-link"
                          aria-label="Next"
                          (click)="movePage('adelante')"
                          (keyup.enter)="movePage('adelante')"
                          (keyup.space)="movePage('adelante')"
                          tabindex="0"
                        >
                          <span aria-hidden="true">»</span>
                        </a>
                      </li>
                    }
                  </ul>
                </nav>
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <div class="icon-container">
        <span class="material-symbols-outlined giant-icon"> scan_delete </span>
        <p class="file-description">
          {{ datatableInputs.mensajeNoHayElementos }}
        </p>
      </div>
    }
  } @else {
    <div class="icon-container">
      <span class="material-symbols-outlined giant-icon"> description </span>
      <p class="file-description">{{ datatableInputs.mensajeBusqueda }}</p>
    </div>
  }
  