
<main class=" main">

  <app-navbar />
  <router-outlet />

</main>


<!-- <main class=" main" > 

  <app-navbar class=""/>

    <app-sidebar class="d-fle ">
      <app-perfil-usuario class=""/>
    </app-sidebar>
    
</main> -->

<!-- <router-outlet></router-outlet> -->

<!-- <app-navbar></app-navbar> -->


<!-- <app-sidebar2>
      <app-perfil-usuario/>
    </app-sidebar2>> -->




<!-- <app-sidebar>
      <h2>Welcome to NexusFlow</h2>
      <p class="text-muted">Streamline your workflow with our intuitive dashboard.</p>
      <app-tienda/>
    </app-sidebar> -->

<!-- <app-tienda/> -->

<!-- <div>
      <app-date-picker/>
    </div> -->

<!-- <app-form/> -->


<!-- </div> -->

<!-- <router-outlet /> -->