<main class="main">
  <div class="container bg-info px-5">
    <section id="info-basica" class="pt-4 ">
      <h2>Información Básica</h2>
      <p>Detalles del usuario...</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla condimentum nisi risus, sit amet euismod orci suscipit ac. 
        Nulla elementum metus eu felis dictum sollicitudin. Donec tincidunt 
        et neque at placerat. Donec elementum mollis tellus ut dictum. Maecenas 
        <!-- erat ligula, gravida quis est eu, condimentum placerat ex. Ut imperdiet 
        eget erat at commodo. Ut vehicula feugiat tincidunt. Suspendisse eu 
        augue enim. Maecenas posuere feugiat consectetur. Etiam nisi eros, 
        elementum ac cursus nec, iaculis sit amet arcu. Praesent vestibulum 
        augue orci, ac placerat augue rhoncus a. Duis sem ipsum, efficitur 
        vitae tortor nec, feugiat luctus felis. Vivamus quis suscipit elit, 
        dignissim mattis ligula. Mauris vulputate turpis fringilla libero 
        aliquam, vitae finibus dui egestas. -->
      </p>
    </section>

    <section id="historial" class="pt-4">
      <h2>Historial de Reciclaje</h2>
      <p>Pedidos en la tienda...</p>

      <app-historial-reciclaje/>

    </section>

    <section id="progreso" class="pt-4">
      <h2>Progreso</h2>
      <p>Gráficos de reciclaje...</p>
      <p>
        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla condimentum nisi risus, sit amet euismod orci suscipit ac. 
        Nulla elementum metus eu felis dictum sollicitudin. Donec tincidunt 
        et neque at placerat. Donec elementum mollis tellus ut dictum. Maecenas 
        erat ligula, gravida quis est eu, condimentum placerat ex. Ut imperdiet 
        eget erat at commodo. Ut vehicula feugiat tincidunt. Suspendisse eu 
        augue enim. Maecenas posuere feugiat consectetur. Etiam nisi eros, 
        elementum ac cursus nec, iaculis sit amet arcu. Praesent vestibulum 
        augue orci, ac placerat augue rhoncus a. Duis sem ipsum, efficitur 
        vitae tortor nec, feugiat luctus felis. Vivamus quis suscipit elit, 
        dignissim mattis ligula. Mauris vulputate turpis fringilla libero 
        aliquam, vitae finibus dui egestas. -->
      </p>
    </section>

    <section id="logros" class="pt-4">
      <h2>Logros</h2>
      <p>Lista de medallas...</p>
      <p>
        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla condimentum nisi risus, sit amet euismod orci suscipit ac. 
        Nulla elementum metus eu felis dictum sollicitudin. Donec tincidunt 
        et neque at placerat. Donec elementum mollis tellus ut dictum. Maecenas 
        erat ligula, gravida quis est eu, condimentum placerat ex. Ut imperdiet 
        eget erat at commodo. Ut vehicula feugiat tincidunt. Suspendisse eu 
        augue enim. Maecenas posuere feugiat consectetur. Etiam nisi eros, 
        elementum ac cursus nec, iaculis sit amet arcu. Praesent vestibulum 
        augue orci, ac placerat augue rhoncus a. Duis sem ipsum, efficitur 
        vitae tortor nec, feugiat luctus felis. Vivamus quis suscipit elit, 
        dignissim mattis ligula. Mauris vulputate turpis fringilla libero 
        aliquam, vitae finibus dui egestas. -->
      </p>
    </section>

    <section id="desafios" class="pt-4">
      <h2>Desafíos</h2>
      <p>Retos ecológicos...</p>
      <p>
        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla condimentum nisi risus, sit amet euismod orci suscipit ac. 
        Nulla elementum metus eu felis dictum sollicitudin. Donec tincidunt 
        et neque at placerat. Donec elementum mollis tellus ut dictum. Maecenas 
        erat ligula, gravida quis est eu, condimentum placerat ex. Ut imperdiet 
        eget erat at commodo. Ut vehicula feugiat tincidunt. Suspendisse eu 
        augue enim. Maecenas posuere feugiat consectetur. Etiam nisi eros, 
        elementum ac cursus nec, iaculis sit amet arcu. Praesent vestibulum 
        augue orci, ac placerat augue rhoncus a. Duis sem ipsum, efficitur 
        vitae tortor nec, feugiat luctus felis. Vivamus quis suscipit elit, 
        dignissim mattis ligula. Mauris vulputate turpis fringilla libero 
        aliquam, vitae finibus dui egestas. -->
      </p>
    </section>

    <section id="amigos" class="pt-4">
      <h2>Amigos</h2>
      <p>Lista de contactos...</p>
      <p>
        <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla condimentum nisi risus, sit amet euismod orci suscipit ac. 
        Nulla elementum metus eu felis dictum sollicitudin. Donec tincidunt 
        et neque at placerat. Donec elementum mollis tellus ut dictum. Maecenas 
        erat ligula, gravida quis est eu, condimentum placerat ex. Ut imperdiet 
        eget erat at commodo. Ut vehicula feugiat tincidunt. Suspendisse eu 
        augue enim. Maecenas posuere feugiat consectetur. Etiam nisi eros, 
        elementum ac cursus nec, iaculis sit amet arcu. Praesent vestibulum 
        augue orci, ac placerat augue rhoncus a. Duis sem ipsum, efficitur 
        vitae tortor nec, feugiat luctus felis. Vivamus quis suscipit elit, 
        dignissim mattis ligula. Mauris vulputate turpis fringilla libero 
        aliquam, vitae finibus dui egestas. -->
      </p>
    </section>

    
  </div>
