/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-padding-top: 0px; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
section { scroll-margin-top: 73px; } /* Asegura que al hacer scroll no quede tapado */

  
